<!DOCTYPE html>
<html>
  <head>
    <title>Kangaroof</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{ENV['MAPS_API_KEY']}" %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>
  <script type="text/javascript">
    window.photowall = "<%= image_url('paris.jpg') %>";
    window.logoURL = "<%= image_url('k_logo.png') %>";
    window.logo2URL = "<%= image_url('k_full_logo.png') %>";
    window.search = "<%= image_url('search.png') %>";
    window.star = "<%= image_url('redstar2.png') %>";
    window.banner = "<%= image_url('front_banner.png') %>";
    window.plus = "<%= image_url('more.png') %>";
    window.minus = "<%= image_url('minus.png') %>";
    window.down = "<%= image_url('down_arrow.png') %>";
    window.travel = "<%= image_url('travel.png') %>";
  </script>
  <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP|Overpass|Quicksand|Roboto|Sarabun|Dancing+Script|Asap|Lato|Montserrat|Great+Vibes|Pacifico|Sacramento&display=swap" rel="stylesheet">
  <body>
    <%= yield %>
  </body>
</html>
